///COLORS
$color-1: #0c0c0c;
$color-2: #fcfcfc;
$color-3: #6564bf;
$color-4: #0da2ff;
$color-text: #262626;
///BREAK POINTS
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; // 900px
$bp-small: 43.75em; // 700px
$bp-smallest: 31.25em; // 500px
$bp-tiny: 25em; // 400px
